@import "../../styles/variables.module";
.form{
display: flex;
flex-wrap: wrap;
width: 100%;
padding: 20px 10px;
gap: 30px 15px;
border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.inputField{
        width: calc((100%/2) - 15px);
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.input{
    color: #000;
    border: none;
    outline: none;
    padding: 4px 6px;
    width: 100%;
    font-family: inherit;
    font-size: 12px;
}
.inputError{
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 8px;
    color: tomato;

}
.btnBox{
    display: flex;
    width: 100%;
    gap: 10px;
}
.button{
    text-transform: uppercase;
    background-color: $dark-bg;
    color: $color-white;
    padding: 7px 0;
    cursor: pointer;
    width: calc((100%/2) - 10px);
    border: none;
        outline: none;
        border-radius: 5px;
}
.textareaField{
    width: 100%;
position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}